/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        padding: 0 15px;
    }

    .filters-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .hebergements-cards .card-title, .hebergements-cards .card-subtitle {
        font-size: 14px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 200px;
    }

    .activites-cards .card-title {
        padding: 10px 12px;
        font-size: 14px;
        height: 30px;
    }
}

